Email {
    display:block;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}
Content {
    color:black;
    display:block;
    margin-top: 5px;
    margin-bottom: 5px;
}
Reply {
    display:block;
    margin-top: 5px;
    margin-left: 75px;
}
Forward {
    display:block;
    margin-left: 75px;
}
Delete {
    display:block;
    margin-left: 75px;
}
Report {
    display:block;
    margin-left: 75px;
}
para {
    display:block;
    margin-top: 5px;
}
Link {
    display:inline;
}