Conversation {
    text-align: left;
}
ConversationInfo {
    text-align: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
Question {
    display: block;
    margin-left: 92px;
    color:blue;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
Scenario {
    display: block;
    color:blue;
    text-align: left;
    font-weight: bold;
}
Answer {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    color:black;
    font-weight: normal;
    background-color: #fffeee;
}
AnswerText {
    display: block;
    margin-left: 92px;
    margin-top: 5px;
    text-align: left;
}
ActorResponse {
    display: block;
    margin-left: 156px;
    font-style: italic;
    text-align: left;
}
Link {
    display: block;
    margin-left: 156px;
    text-align: left;
}